body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
}
.inputs{
    margin-top: 20px;
    margin-left: 100px;
}
h4{
    color: green;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 19px;
}
.finput{
    margin-top: -5px;
    margin-left: 10px;
}
label{
    color: green;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 15px;
}
input{
    color: rgb(3, 60, 3);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 14px;
}
input{
    display: table;
    padding: 7px 10px;
    width: 230px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid rgba(0, 128, 0, 0.508);
    outline: none;
    
}
.inputp{
    color: rgba(0, 0, 0, 0.861);
    font-family: sans-serif;
    font-size: 12px;
    margin-top: -10px;
}
#dateis{
    margin-bottom: 20px;
}
#imagefile{
    /* opacity: 0; */
    /* width: 0.1px; */
    /* height: 0.1px; */
    /* position: absolute; */
    border: none;
    margin-top: -15px;
}
/* #upload{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
} */
#preview{
    margin-left: 20px;
    background-color: green;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 16px;
    border: 2px solid rgba(0, 128, 0, 0.358);
}
.body{
    position: relative;
    width: 316.8px;
    height: 204px;
    background-color: white;
    border: 2px solid rgba(0, 128, 0, 0.504);
    border-radius: 3px;
    /* box-shadow: 1px 1px 1px white; */
    margin-top: 80px;
    margin-left: 150px;
    overflow: hidden;
    display: flex;
}
.first{
    display: block;
    margin-top: 0;
    padding-top: 0;
    
}
.line{
    display: flex;
    /* height: 30px; */
    margin-left: 10px;
}
.line .fline{
    background-color: green;
    width: 7px;
    height: 35px;
}
.sline{
    margin-left: 5px;
    background-color: rgba(255, 255, 0, 0.603);
    width: 7px;
    height: 35px;
}
.text{
    background-color: green;
    width: fit-content;
    padding: 10px 20px;
    /* height: 40px; */
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bolder;
    transform: rotate(90deg);
    /* position: relative; */
    margin-left: -50px;
    margin-top: 50px;
    border-radius: 2px;
}
.line2{
    display: flex;
    margin-top: 48px;
    margin-left: 10px;
    /* height: 30px; */
}
.line2 .fline2{
    background-color: green;
    width: 7px;
    height: 35px;
}
.sline2{
    margin-left: 5px;
    background-color: rgba(255, 255, 0, 0.603);
    width: 7px;
    height: 35px;
}
.second{
    /* border-left: 2px solid red; */
    margin-left: -52px;
}
.head{
    display: flex;
    /* margin-left: -2px; */
}
.image{
    height: 70px;
    width: 70px;
}
.thead{
    color: green;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bolder;
    text-align: center;
    margin-top: 13px;
    letter-spacing: 0.1px;
    line-height: 9px;
    /* padding-left: 10px; */
}
.b{
    letter-spacing: 0.1px;
    line-height: 17px;
    color: red;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bolder;
}
.third{
    display: flex;
}
.detail{
    margin-left: 3px;
    margin-top: -5px;
    /* line-height: 5px; */
}
.name{
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
}
.local{
    margin-top: -5px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
}
.idiv{
    display: flex;
    /* border: 2px solid green; */
    width: fit-content;
    height: fit-content;
    margin-top: -15px;
}
.tid{
    background-color: green;
    border: 2px solid green;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 3px 3px;
    font-size: 12px;
    
}
.id{
    font-size: 12px;
    margin-left: -10px;
    border: 2px solid green;
    padding: 3px 13px;
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
}
.idate{
    display: flex;
    margin-top: -15px;
    width: fit-content;
    height: fit-content;
}
.tdate{
    background-color: green;
    border: 2px solid green;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 3px 3px;
    font-size: 12px;
}
.date{
    font-size: 12px;
    margin-left: -10px;
    border: 2px solid green;
    padding: 3px 13px;
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
}
.userimg{
    margin-left: 3px;
    margin-top: -8px;
    border: 2px solid rgba(0, 128, 0, 0.504);
    width: 105px;
    height: 133px;
    border-radius: 2px;
}


@media only screen and (max-width:768px) {
    .container{
        display: block;
    }
    .body{
        margin-top: 2.0px;
        margin-left: 90px;
        margin-bottom: 50px;
    }
}